body {
	background-color: $colorAgua;
	background-image: url("../img/bg.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}