body{
    background-color: #7ee8fa;
	background-image: url("./img/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/* background-image: linear-gradient(315deg, #7ee8fa 0%, #80ff72 74%); */
header a{
    color: black;
    font-weight: bold;
	transition: all 1s;
}
header a:hover{
    font-weight: bold;
	font-size: 17px;
    transition: all 1s;
}
.imglogo{
    width: 35px;
}
.imgbox{
    width: 180px;
    height: 158px;
    border-radius: 80px;
    box-shadow: 5px 5px 10px gray;
    opacity: 0.7;
    transition: all 1.5s;
}
.imgbox:hover{
    width: 210px;
    height: 158px;
    opacity: 1;
    border-radius: 30px;
    transition: all 1.5s;
}